<div class="container">
  <br />

  <div *ngIf="otherWords" class="row">
    <h4 *ngIf="otherWords">
      Non English term detail - "{{ otherWords.wordNonEnglish }} "
    </h4>
    <h4 *ngIf="!otherWords">Nothing found, sorry~!</h4>

    <div class="col-md-10">
      <!-- <dt>
        Definitions: ( {{ otherWords.definitions.length }} )<br /><br /><a
          class="btn btn-primary btn-sm"
          href="/otherTerms/add-definition/{{ otherWords._id }}"
        >
          Add Another Definition</a
        >
      </dt> -->
      <br />
      <div *ngIf="otherWords.definitions">
        <dd *ngFor="let o of otherWords.definitions">
          <div class="card">
            <div class="card-header">
              <button class="btn btn-primary btn-sm" (click)="likeCount(o._id)">
                Like&nbsp;&nbsp;<span class="badge bg-secondary">{{
                  o.likes
                }}</span></button
              >&nbsp;&nbsp;Author: {{ o.authorName }} on
              {{ o.dateCreated | date: "yyyy-MM-dd" }}
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ o.definition }}
              </p>
            </div>
          </div>
        </dd>
      </div>
      <dt>Field of Study:</dt>
      <dd>
        {{ otherWords.fieldOfStudy }}
      </dd>
      <dt>Author Name:</dt>
      <dd>
        {{ otherWords.authorName }}
      </dd>
      <dt>Dates:</dt>
      <dd>
        Created: {{ otherWords.dateCreated | date: "yyyy-MM-dd" }} <br />
        Revised: {{ otherWords.dateRevised | date: "yyyy-MM-dd" }}
      </dd>
      <br />
      <dt>Translations:</dt>
      <dd>
        <!-- <p>
          <span
            ><a
              class="btn btn-primary btn-sm"
              href="otherTerms/add-definition/{{ otherWords._id }}"
              >Add Translation</a
            >&nbsp;&nbsp;</span
          >
        </p> -->
        <p>
          <span>
            <a class="btn btn-info btn-sm">
              <!-- findTrans will return a string the will be displayed  -->
              {{ findTrans(otherWords.languageCode) }} </a
            >&nbsp;&nbsp;</span
          >
        </p>
      </dd>

      &nbsp;&nbsp;
      <div>
        <dt>Links</dt>
        <dd>
          <p>
            <span
              ><a
                class="btn btn-info btn-sm"
                target="_blank"
                *ngIf="otherWords.linkWikipedia"
                href="{{ otherWords.linkWikipedia }}"
                >Wikipedia</a
              >&nbsp;&nbsp;</span
            >
            &nbsp;&nbsp;
            <span
              ><a
                class="btn btn-info btn-sm"
                target="_blank"
                *ngIf="otherWords.linkYouTube"
                href="{{ otherWords.linkYouTube }}"
                >Youtube</a
              >&nbsp;&nbsp;</span
            >
            &nbsp;&nbsp;
            <span
              ><a
                class="btn btn-info btn-sm"
                target="_blank"
                *ngIf="otherWords.linkAuthoritative"
                href="{{ otherWords.linkAuthoritative }}"
                >Reference</a
              >&nbsp;&nbsp;</span
            >
          </p>
        </dd>
        &nbsp;&nbsp;
        <dt>Was this helpful?</dt>
        <dd>
          <p>
            <button
              class="btn btn-info btn-sm"
              (click)="helpYesCount(otherWords._id)"
            >
              Yes&nbsp;&nbsp;
              <span class="badge bg-secondary">{{ otherWords.helpYes }}</span>
            </button>
            &nbsp;&nbsp;
            <button
              class="btn btn-info btn-sm"
              (click)="helpNoCount(otherWords._id)"
            >
              No &nbsp;&nbsp;
              <span class="badge bg-secondary">{{ otherWords.helpNo }}</span>
            </button>
            &nbsp;&nbsp;
          </p>
        </dd>
      </div>

      <hr />
      <div style="clear: both">
        <div class="col-md-4 col-sm-12">
          <button (click)="backClicked()" type="button" class="btn btn-info">
            Back to list
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
